<div class="card">
    <div class="card-header">
        <h5 class="card-title">Administrar Usuarios</h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var usuario in Model)
            {
                <li class="list-group-item">
                    <strong>Nombre:</strong> @usuario.Nombre<br />
                    <strong>Rol:</strong> @usuario.Rol<br />
                    <strong>Email:</strong> @usuario.Email<br />
                    <strong>Contraseña:</strong> @usuario.Contrasenna
                </li>
            }
        </ul>
    </div>
</div>
