@{
    ViewBag.Title = "Contactenos";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link href="~/root/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/tooplate.css" rel="stylesheet" />
    <link href="~/root/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <div class="bg-white p-4">
        <p>
            <address>
                San Jose<br />
                Costa Rica, SJ 9809<br />
                <abbr title="Phone"></abbr>
                4995-0056-6559
            </address>

            <address>
                <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            </address>
        </p>
    </div>


</main>