@model AgendaMaster.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Admin Page";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link href="~/root/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/tooplate.css" rel="stylesheet" />
    <link href="~/root/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #000;
        }

            .navbar .navbar-brand,
            .navbar .nav-link {
                color: #fff;
            }

        .banner {
            background-color: #000;
            color: #fff;
            padding: 20px;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .card-text {
            font-size: 1rem;
            color: #666;
        }

        .tm-list-group-item {
            padding: 15px;
            font-size: 1rem;
            border-bottom: 1px solid #ddd;
        }
        /* Estilos para el modal */
        .modal {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        /* Estilos para el contenido del modal */
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
        }

        /* Botón de cerrar */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>

                </div>

    <<div class="card">
        <div class="card-header">
            <h5 class="card-title">Administrar Usuarios</h5>
            </div>
                </div>
                <div class="form-group">
                    <label for="editContrasenna">Contraseña:</label>
                    <input type="password" id="editContrasenna" name="Contrasenna" class="form-control" required />
            </div>
                </div>
            </div>

                    <div class="row">
                        </div>
                        <div class="col-4 text-right">
                            <a href="products.html" class="tm-link-black">verlos todos</a>
                        </div>
                    </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Proyectos Relevantes</h5>
                    <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                        <li class="tm-list-group-item">
                        </li>
                        <li class="tm-list-group-item">
                            Construcción de un Edificio Comercial
                        </li>
                        <li class="tm-list-group-item">
                        </li>
                        <li class="tm-list-group-item">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">Calendar</h2>
                    <div id="calendar"></div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <!--  -->
                            <!--   <a href="#" class="tm-link-black">View Schedules</a> -->
                        </div>
                    </div>

                    <ol id="tareasList" class="tm-list-group">
                        {
                            <li class="tm-list-group-item">
                                <strong>@tarea.Nombre</strong> - Prioridad: @tarea.Prioridad<br />
                                Descripción: @tarea.Descripcion
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
        </div>

        <!-- Ventana emergente -->
        <div id="taskModal" class="modal">
            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <h2>Agregar Tarea</h2>
                <form id="taskForm">
                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" id="Nombre" name="Nombre" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="Prioridad">Prioridad:</label>
                        <input type="text" id="Prioridad" name="Prioridad" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="Descripcion">Descripción:</label>
                        <textarea id="Descripcion" name="Descripcion" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="TiempoInvertido">Tiempo Invertido (en horas):</label>
                        <input type="number" id="TiempoInvertido" name="TiempoInvertido" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>

    </div>

        <script src="~/root/dist/js/jquery-3.3.1.min.js"></script>
        <script src="~/root/dist/js/moment.min.js"></script>
        <script src="~/root/dist/js/utils.js"></script>
        <script src="~/root/dist/js/Chart.min.js"></script>
        <script src="~/root/dist/js/fullcalendar.min.js"></script>
        <script src="~/root/dist/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                var modal = $('#taskModal');
                var btn = $('#openModal');
                var span = $('#closeModal');

                // Abre la ventana modal
                btn.click(function () {
                    modal.show();
                });

                // Cierra la ventana modal
                span.click(function () {
                    modal.hide();
                });

                // Cierra la ventana modal al hacer clic fuera de ella
                $(window).click(function (event) {
                    if ($(event.target).is(modal)) {
                        modal.hide();
                    }
                });

                // controlador formulario del modal
                $('#taskForm').submit(function (event) {
                    event.preventDefault();
                    var formData = $(this).serialize();
                    $.ajax({
                        url: '@Url.Action("AgregarTarea", "Home")',
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                alert('Tarea agregada con éxito');
                                modal.hide();

                            } else {
                                alert('Error: ' + response.message);
                            }
                        },
                        error: function () {
                            alert('Error al procesar la solicitud');
                        }
                    });
                });
            });
        </script>
</body>

</html>